
.DS_Store
*.dll
*.dylib
*.exe
*.exe~
*.out
*.so
*.test
# Binaries for programs and plugins
# Dependency directories (remove the comment below to include it)
# Output of the go coverage tool, specifically when used with LiteIDE
# Test binary, built with `go test -c`
# vendor/
node_modules
target
